
	
	<div class = "homepage-hero full-browser-height z-index-bottom content-wrapper">
		
		<div class = "vertical-center">
			<h1 class = "mbold-grey">{{hero}}</h1>
		</div>	
	</div>
	
	<div class = "core-disciplines full-browser-height z-index-top content-wrapper">
		
		<div class = "vertical-center">
			<h3 class = "mbold-black">We create integrated experiences that humanize brands.</h3>
			<a href = "#" class = "red">see how we work <img src = "../img/icon-arrow-red.svg" /></a>
		</div>

	</div>	
	
	<div class = "brand-reel full-browser-height z-index-bottom content-wrapper">
		
		<div class = "vertical-center">
			<h3 class = "mbold-black">The proof is in the brand reel.</h3>
			<a href = "#" class = "black">Watch <img src = "../img/icon-arrow-black.svg" /></a>
		</div>

	</div>	
