	{{> header}}
	
	<div id = "ajax-wrapper">
		
		<div id = "contact" class = "page-wrapper">
			
			<div class = "content-wrapper">
				
				<h1 class = "mbold-black">{{pageName}}</h1>
				
				<div class = "flex-two-col">
					
					
					{{#each list}}
						<div class = "half-width">
							<p class = "title">{{this.title}} <span class="h-line"></span><span class = "back-bar"></span></p>
							<p class = "email">{{this.email}}<span class = "back-bar"></span></p>
							<a href = "#">{{this.email}}</a>
						</div>
					{{/each}}
					
<!--
					<div class = "half-width">
						<p class = "title">new business <span class="h-line"></span><span class = "back-bar"></span></p>
						<p class = "email">todd@kingspoke.co<span class = "back-bar"></span></p>
						<a href = "#">todd@kingspoke.co</a>
					</div>
					
					<div class = "half-width">
						<p class = "title">press inquiries <span class="h-line"></span><span class = "back-bar"></span></p>
						<p class = "email">pr@kingspoke.co<span class = "back-bar"></span></p>
						<a href = "#">pr@kingspoke.co</a>
					</div>
					
					<div class = "half-width">
						<p class = "title">careers <span class="h-line"></span><span class = "back-bar"></span></p>
						<p class = "email">careers@kingspoke.co<span class = "back-bar"></span></p>
						<a href = "#">careers@kingspoke.co</a>
					</div>
-->
	
	
				</div>
				
			</div>
		</div>
		
	</div> <!-- ajax-wrapper -->
	
	{{> footer}}
