{{> header}}
	<div>

		<div itemscope itemtype="http://schema.org/ContactPage" id = "error" class = "page-wrapper">

			<div class = "content-wrapper">

				<h1 class = "mbold-black">erro<span class = "float-r">r</span></h1>
				<div class = "four-oh-four">
					<p id = "first-4">4</p>
					<p id = "o"><a href = "../index"><img title = "KINGSPOKE logo" description = "KINGSPOKE logo" class = "ks-logo " src = "../img/global/kingspoke_O_logo.svg" /></a></p>
					<p id = "second-4">4</p>
				</div>
				
				<div class = "h2-wrapper">
					<h2>We're sorry <span class = "bold">this page</span> doesn't exist<span class = "bar"></span><span class = "bar2"></span></h2>
				</div>

<!--
				<div class = "flex-two-col">


					{{#each list}}
						<div class = "half-width">
							<p class = "title">{{this.title}} <span class="h-line"></span><span class = "back-bar"></span></p>
							<p data-name = "{{this.name}}" class = "email"><span class = "back-bar"></span></p>
							<a class = "email-link" data-name = "{{this.name}}" data-department = "{{this.title}}" itemprop="significantLink" href = "xxx"></a>
						</div>
					{{/each}}

				</div>
-->

			</div>
		</div>

	</div> <!-- ajax-wrapper -->
{{> footer}}
