
        
        <footer class = "flex-two-col">
	        
	        
	        <div class = "col">
		        <img title = "KINGSPOKE logo" description = "KINGSPOKE logo" class = "footer-logo vertical-center" src = "../img/global/kingspoke_logo.svg" />
	        </div>
	       
	       <div class = "col details flex-three-col">
		        <div class = "visit col">
			        <h4>Visit</h4>
			        <p>480 Congress St<span> Second Floor</span></p>
			        <p>Portland, Maine 04101</p>
		        </div>
		        <div class = "contact col">
			        <h4>contact</h4>
			        <p><a href = "mailto:hello@kingspoke.co?subject=KINGSPOKE Hello">hello@kingspoke.co</a></p>
		        </div>
		        <div class = "follow col">
			        <h4>follow</h4>
			        <p><a target = "_blank" href = "https://www.instagram.com/kingspoke/">Instagram</a></p>
			        <p><a target = "_blank" href = "https://vimeo.com/kingspoke">Vimeo</a></p>
		        </div>
	       </div>
	        
	        
        </footer>
        
        
        
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="build/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="../js/plugins.js"></script>
        <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<!--         <script src="../js/pagetransition.js"></script> -->
        <script src="../js/main.js"></script>
        
        

    </body>
</html>

